<!DOCTYPE html>
<html>
<head>
    <head>
        <meta charset="UTF-8">
        <title>HTML/CSS/JavaScript Starter</title>
    </head>
    <style>
        div.parent {
            position: relative; /* NOTE That "left" will not work without setting the "position"! */
            left: 130px;
            border: 3px solid red;
        }
        div.relative {
            position: relative;
            left: 30px;
            border: 3px solid #73AD21;
        }
    </style>
</head>
<body style="margin: 20px;">

<h2>position: relative;</h2>

<p>An element with position: relative; is positioned relative to its normal position:</p>

<div class="parent">
    <div class="relative">
        This div element has position: relative;
    </div>
</div>

</body>
</html>
