/node_modules
/bower_components
/web
/themes

/hybrid/node_modules
/hybrid/platforms
/hybrid/www/*

!hybrid/plugins
hybrid/plugins/*
!hybrid/plugins/fetch.json

.DS_Store
Thumbs.db
temp/

.idea/

# Ignore test files
test.*
src/js/style-test.html

# Ignore typescript cached build files
.tscache/
*.js.map
static/typescript-example/**/*.js*
