# Ignore NPM dep files
node_modules/
package-lock.json

# Ignore MacOS files
.DS_Store
Thumbs.db

# Ignore IDE files
.idea/
.vscode/

# Ignore build files
dist/

# Ignore temp files
temp/
temp.*
temp-*.*

# Ignore git project in subdirectory
ckeditor5-build-classic/
