# Ignore NPM dep files
node_modules/
package-lock.json

# Ignore MacOS files
.DS_Store
Thumbs.db

# Ignore IDE files
.idea/
.vscode/

# Ignore TS files
.tscache

# Ignore temp files
temp/
temp.*
temp-*.*
