<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VueJS Demo</title>
    <script src="../../resources/js/libs/vue/vue.min.js"></script>
</head>
<body>

<div id="app">
    <div>
        Select a component to switch:
        <select v-model="currentTabComponent">
            <option>button-counter</option>
            <option>hello</option>
        </select>
    </div>
    <div>
        <component v-bind:is="currentTabComponent"></component>
    </div>
</div>

<script>
    /*
    Vue has a built-in 'component' component that can switch other component
    for you.
    */
    Vue.component('button-counter', {
        data: function () {
            return { count: 0 }
        },
        template: '<button v-on:click="count++">You clicked me {{ count }} times.</button>'
    });
    Vue.component('hello', {
        template: `
            <div >
                Hello
            </div>
            `
    });

    new Vue({
        el: "#app",
        data: {
            currentTabComponent: 'button-counter'
        }
    });



    /*
    // More example here: https://jsfiddle.net/chrisvfritz/o3nycadu/
     */
</script>

</body>
</html>
