<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VueJS Demo</title>
    <script src="../../resources/js/libs/vue/vue.min.js"></script>
</head>
<body>

<div id="app">
    <button-counter></button-counter>
</div>

<script>
    Vue.component('button-counter', {
        data: function () {
            return { count: 0 }
        },
        template: '<button v-on:click="count++">You clicked me {{ count }} times.</button>'
    });

    new Vue({
        el: "#app"
    });
</script>

</body>
</html>
