<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VueJS Demo</title>
    <script src="../../resources/js/libs/vue/vue.min.js"></script>
</head>
<body>

<div id="app">
    <blog-post
            v-for="post in posts"
            v-bind:key="post.id"
            v-bind:post="post"
    ></blog-post>
</div>

<script>
    /*
    Instead of passing individual attributes to component element, we can
    pass in an object instead. It's the 'post' input in this case.
     */
    Vue.component('blog-post', {
        props: ['post'],
        template: `
            <div class="blog-post">
              <h3>{{ post.title }}</h3>
              <div v-html="post.content"></div>
            </div>
            `
    });

    new Vue({
        el: "#app",
        data: {
            posts: [
                { id: 1, title: 'My journey with Vue' },
                { id: 2, title: 'Blogging with Vue' },
                { id: 3, title: 'Why Vue is so fun' },
                { id: 4, title: 'Hello Again' }
            ]
        }
    });
</script>

</body>
</html>
