<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VueJS Demo</title>
    <script src="../../resources/js/libs/vue/vue.min.js"></script>
</head>
<body>

<div id="app">
    <blog-post title="My journey with Vue" content="test"></blog-post>
    <blog-post title="Blogging with Vue" content="test"></blog-post>
    <blog-post title="Why Vue is so fun" content="test"></blog-post>
</div>

<script>
    /*
    A component template MUST have only one root element. So the 'div'
    is a required element!
     */
    Vue.component('blog-post', {
        props: ['title', 'content'],
        template: `<div>
            <h3>{{ title }}</h3>
            <p v-html="content"></p>
            </div>`
    });

    new Vue({
        el: "#app"
    });
</script>

</body>
</html>
