<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VueJS Demo</title>
    <script src="../../resources/js/libs/vue/vue.min.js"></script>
</head>
<body>

<div id="app">
    <alert-box>
        Something bad happened.
    </alert-box>
</div>

<script>
    // TO enable component to accept content, we need to insert as 'slot'
    Vue.component('alert-box', {
        template: `
            <div class="demo-alert-box">
                <strong>Error!</strong>
                <slot></slot>
            </div>
            `
    });

    new Vue({
        el: "#app"
    });
</script>

</body>
</html>
