<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML/CSS/JavaScript Starter</title>
    <style>
        .box {
            background-color: tomato;
            width: 200px;
            height: 200px;

            margin: 30px; /* outside of border */
            border: 10px solid black;
            padding: 10px; /* inside border */
        }
    </style>
</head>
<body>

<div id="demo" style="width: 300px; height: 300px; border: 1px solid black;">
    <div class="box">Hello</div>
</div>

<div id="demo2" style="width: 300px; height: 300px; border: 1px solid black; margin-top: 10px;">
    <div class="box" style="overflow: hidden;">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias at in iusto possimus velit. At, cumque earum est nulla provident quasi sit sunt totam voluptatum. Accusantium facere molestiae natus quaerat.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut labore quas recusandae sit. Dolore esse ex, facilis incidunt necessitatibus non quas repellendus saepe sapiente tempora. Dolorem molestias odit qui tempora!
    </div>
</div>

</body>
</html>
